.contactList {
    width: 520px;
    margin: 0 auto;

    list-style: none;
}

.contactListItem {
    margin-top: 10px;

    color:  grey;
}

.btnContactList {
    margin-left: 10px;
    padding: 4px;
    width: 60px;
    cursor: pointer;

    color: dimgray;
    background-color: whitesmoke;
    border-color: grey;
    border-radius: 4px;
    
    transition: background-color 500ms;
}

.btnContactList:hover{
    background-color: gray;
    border-color: black;
    color: white;
}